:root, [data-bs-theme=light] {
    --bs-blue: #444445;
    --bs-primary: #9d1ef0;
}
.scroll-thead{
    width: 100%;
    display: inline-table;
}

.scroll-tbody-y
{
    display: block;
    overflow-y: scroll;
}

.table-body{
    max-height: 30rem;
}